<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/add.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="/public/js/add.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar">
            <div class="links">
                <a href="http://localhost:3000/" class="main">Главная</a>
        </nav>
        <div class="products-block">
            <div class="item">
                <div class="item-image">
                    <input type="file" class="item-photo">
                </div>
                <input type="text" class="item-name">
                <input type="text" class="item-text">
                <select name="col-type" class="col-type">
                    <option value="first">Первая необходимость</option>
                    <option value="second">Аксессуары</option>
                </select>
                <button class="save" onclick="save(this)">Сохранить</button>
                <button class="quit">Отменить</button>
            </div>
        </div>
    </div>
</body>
</html>