* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: black;
}


body {
    background: rgb(255, 0, 0);
    background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(45, 123, 253, 1) 51%, rgba(255, 255, 255, 1) 100%);
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.navbar .links {
    width: 100%;
    display: flex;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: .3s ease;

}

.navbar .profile-pic {
    width: 10%;
}

.profile-pic .login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.profile-pic .login:hover {
    background-color: black;
    color: white;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
}

.img-wrapper {
    transition: .3s;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-wrapper:hover {
    border-radius: 50%;
    border: 1px solid black;
}

.products {
    margin-top: 110px;
}

.products .new {
    font-size: 50px;
    margin-bottom: 50px;
}

.products .clothes {
    font-size: 50px;
    margin-bottom: 50px;
}

.products .shoes {
    font-size: 50px;
    margin-bottom: 50px;
}

.products-block {
    display: flex;

    margin: 50px 0;
}

.products-block .item {
    width: 340px;
    min-height: 400px;
    padding: 10px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.item .item-image {
    width: 250px;
    height: 220px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.item .item-text {
    min-height: 70px;
    text-align: center;
}

.item-image img {
    width: 250px;
    height: 220px;
}

.item .item-name {
    font-size: 30px;
    text-align: center;
    margin: 5px 0;

}

/* .item-name, .item-text {
    border: none;
    outline: none;
} */

button {
    padding: 10px 30px;
    font-size: 12px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    transition: .3s;
    margin: 7px 0;
    margin-top: auto;
}

.buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.save-button {
    display: none;
}

input {
    display: block;
    width: 100%;
}