* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: black;
}




.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.navbar .links {
    width: 100%;
    display: flex;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: .3s ease;

}

section.profile-page {
    margin-top: 50px;

}

.person-info {
    display: flex;
    flex-direction: column;
}

.short-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picture-image {
    width: 200px;
    height: 200px;
}

.profile-image {
    width: 200px;
    height: 200px;
}

.profile-username {
    text-align: center;
    font-size: 30px;
}

.full-info {
    width: 100%;
    margin: 0 30px;
    padding: 50px;
}

.name-block,
.surname-block,
.patronomyc-block,
.phone-block {
    margin: 15px 10px;
    border-bottom: 1px solid grey;
}

.name-text,
.surname-text,
.patronomyc-text,
.phone-text {
    color: rgb(33, 33, 33);
    margin: 3px 5px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
}

.name-title,
.surname-title,
.patronomyc-title,
.phone-title {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 5px 0;
}

section.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 30px;
    font-size: 12px;
    background-color: red;
    cursor: pointer;
    transition: .3s;
    margin: 7px 0;
}

section.send-wrapper {
    display: flex;
    justify-content: center;
}

button.send-button {
    display: none;
}

.item {
    width: 340px;
    min-height: 400px;
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.item .item-image {
    width: 250px;
    height: 220px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.item-image img {
    width: 250px;
    height: 220px;
}

.item .item-name {
    font-size: 30px;
    text-align: center;
    margin: 5px 0;
}

.item .item-text {
    min-height: 70px;
    text-align: center;
}

.cart {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    padding: 10px;
}

.cart-name {
    font-size: 30px;
    text-align: center;
}

.cart-products {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
}